<!--BeginSectGui--><div id="breadcrumb" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding-lr">
	<ul>
		<!--BeginSectBreadCrumb-->
		<li><!--BeginSectLink--><a href="{site_path}{path}">{label}</a><!--EndSectLink--><!--BeginSectNoLink--><span>{label}</span><!--EndSectNoLink--></li>
		<!--EndSectBreadCrumb-->
	</ul>
</div><!--EndSectGui-->